*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    color: black;
}

main{
    background-color: white;
    height: calc(100vh - 55px);
    overflow: auto;
}

.flex{
    display: flex;
}

footer{
    height: 55px;
    background-color: #222222;
}

.container{
    flex-wrap: wrap;
    margin: 30px auto;
    max-width: 100%;
}

.container, img{
    justify-content: center;
    align-items: center;
}

.immagini{
    position: relative;
    margin: 2px;
}

.muto{
    position: absolute;
    bottom: 5px;
    padding: 5px;
    background-color: rgba(60 60, 60, .5);
    color: white;
    font-size: .6rem;
}