*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header{
    display: flex;
    justify-content: flex-end;
    background-color: black;
    width: 100%;
    padding: 10px 3px;
}

.topbar .speaker, .topbar .espandi{
    font-size: .7rem;
    color: white;
    padding: 3px;
    border-radius: 5px;
}
.speaker{
    background-color: #4A4A4A;
    margin-right: 5px;
}
.espandi{
    background-color: #4A4A4A;
    
}

main{
    background-color: black;
    height: calc(100vh - 55px);
    overflow: auto;
}

.flex{
    display: flex;
}

footer{
    height: 55px;
    background-color: #222222;
}

.container{
    flex-wrap: wrap;
    margin: 20px auto;
    max-width: 100%;
}

.container, img{
    justify-content: center;
    align-items: center;
    width: 100%;
}

.immagini{
    position: relative;
    margin: 2px;
}

.muto{
    position: absolute;
    bottom: 5px;
    padding: 5px;
    background-color: rgba(60 60, 60, .5);
    color: white;
    font-size: .6rem;
}